@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
    font-family: Spartan, sans-serif;
    font-size: 15px;
}

/*-----images-background-setup-----*/

.top-desktop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45%;
    height: auto;
}

.bottom-desktop {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 70%;
    height: 80%;
}

/*------main-setup--------*/

main {
    position: relative;
    width: 90%;
    height: 70%;
    margin: auto;
    background-color: rgba(163, 119, 119, 0.7);
}

/*-----individual-setup-------*/

.container {
    position: relative;
    width: 43%;
    height: auto;
    color: hsl(300, 43%, 22%);
}

#users {
    width: 65%;
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: 700;
}

#description {
    width: 450px;
    margin-top: 10px;
}

/*------raking setup-----*/

.rated1{
    position: absolute;
    display: flex;
    top: 10px;
    left: 55%;
    width: 30%;
    height: 45px;
    padding: 0px 25px;
    flex-direction: row;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
}

.rated1 .p1 {
    color: rgb(172, 172, 5);
    margin-top: 9px;
    margin-left: 10px;
    font-size: 20px;
}

.rated1 .p2 {
    margin-top: 19px;
    margin-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 12px;
}

.rated2 {
    position: absolute;
    display: flex;
    top: 65px;
    left: 60%;
    width: 30%;
    height: 45px;
    padding: 0px 25px;
    flex-direction: row;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
}

.rated2 .p1 {
    color: rgb(172, 172, 5);
    margin-top: 9px;
    margin-left: 10px;
    font-size: 20px;
}

.rated2 .p2 {
    margin-top: 19px;
    margin-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 12px;
}

.rated3 {
    position: absolute;
    display: flex;
    top: 120px;
    left: 65%;
    width: 30%;
    height: 45px;
    padding: 0px 25px;
    flex-direction: row;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
}

.rated3 .p1 {
    color: rgb(172, 172, 5);
    margin-top: 9px;
    margin-left: 10px;
    font-size: 20px;
}

.rated3 .p2 {
    margin-top: 19px;
    margin-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 12px;
}

/*-----proofs area setup-----*/

#box1 {
    position: relative;
    display: grid;
    width: 350px;
    height: auto;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 45px 45px 1fr;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

#box1 img {
    width: 50px;
    height: 50px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
}

#box1 .p1 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

#box1 .p2 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0px 0px 0px 0px;
    color: hsl(333, 80%, 67%);
}

#box1 .p3 {
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: justify;
    color: hsl(0, 0%, 100%);
}

#box2 {
    position: relative;
    display: grid;
    width: 350px;
    height: auto;
    margin: -190px 0px 0px 370px;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 45px 45px 1fr;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

#box2 img {
    width: 50px;
    height: 50px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
}

#box2 .p1 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

#box2 .p2 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0px 0px 0px 0px;
    color: hsl(333, 80%, 67%);
}

#box2 .p3 {
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: justify;
    color: hsl(0, 0%, 100%);
}

#box3 {
    position: relative;
    display: grid;
    width: 350px;
    height: auto;
    margin: -190px 0px 0px 740px;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 45px 45px 1fr;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

#box3 img {
    width: 50px;
    height: 50px;
    margin: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
}

#box3 .p1 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 25px;
    margin-bottom: 0px;
    color: hsl(0, 0%, 100%);
}

#box3 .p2 {
    width: 120px;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0px 0px 0px 0px;
    color: hsl(333, 80%, 67%);
}

#box3 .p3 {
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: justify;
    color: hsl(0, 0%, 100%);
}