@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html {
    font-family: Spartan, sans-serif;
    font-size: 15px;
}

/*-----images-background-setup-----*/

.top-desktop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45%;
    height: auto;
}

.bottom-desktop {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 70%;
    height: 80%;
}